// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:wght@300;500;700;900&family=Roboto:wght@100,300;500;700;900&display=swap');

// Variables
.header-table-custom {
    thead tr:first-child th {
      background-color: $primary;
      color: white;
      font-size: 16px;
      font-weight: 700;
    }
}
